{% extends "base.html" %}
{% load static %}

{% block title %}
Rayhon - Biz haqimizda
{% endblock title %}

{% block content %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
    <div class="container">
        <h2 class="page-title">Biz haqimizda</h2>
    </div>
</div>

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row d-flex p-2">
                <h2 class="section-title">Nima uchun aynan biz ?</h2>
                <div class="col-md-10">
                    <ol class="circle">
                        <li>
                            <h3>Tajribali mutaxassislardan iborat jamoa</h3>
                            <p>Jamoamiz Umra sayohatining nozik tomonlarini chuqur tushunadi. Biz sizga sayohatingizning har bir bosqichida mutaxassis ko'rsatmalari va yordamini taqdim etamiz.</p>
                        </li>
                        <li>
                            <h3>Moslashtirilgan paketlar</h3>
                            <p>Biz sizning maxsus ehtiyojlaringiz va hoxishlaringizni qondirish uchun mo'ljallangan bir qator Umra paketlarini taklif qilamiz. Byudjetga mos variantnimi yoki hashamatlini qidirasizmi bu sizning tanlovingiz.</p>
                        </li>
                        <li>
                            <h3>Mijozlarga yo'naltirilgan yondashuv:</h3>
                            <p>Sizning mamnunligingiz bizning ustuvor vazifamizdir. Umra tajribangiz nafaqat silliq, balki ma’naviy jihatdan ham ko‘tarinki bo‘lishini ta’minlash uchun qo‘shimcha milyani bosib o‘tamiz.</p>
                        </li>
                    </ol>
                </div>

            </div> <!-- .row -->
        </div> <!-- .container -->		
    </div> <!-- .fullwidth-block -->

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="checked-box">
                        <h3>Bizning majburiyatimiz</h3>
                        <p>Rayhon tourda biz halollik, shaffoflik va mijozlar ehtiyojini qondirishga sodiqligimizdan faxrlanamiz. Biz barcha qoidalar va standartlarga rioya qilamiz va bizning maqsadimiz biz yordam bergan har bir ibodatda sizning kutganingizdan oshig'ini berish.</p>
                    </div>

                    <div class="checked-box">
                        <h3>Sifatli turar joy</h3>
                        <p>Biz Harami Sharif yaqinidagi eng yaxshi mehmonxonalar bilan hamkorlik qilib, ziyoratingiz davomida shinam va qulay yashashingizni ta'minlaymiz.</p>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="checked-box">
                        <h3>Rayhon tourga xush kelibsiz</h3>
                        <p>Muqaddas Umra safarini amalga oshirishdagi ishonchli hamkoringiz Rayhon tourga xush kelibsiz. Mukammallikka bo'lgan ishtiyoq va xizmatga sodiqlik bilan biz Umra tajribangizni chinakam esda qolarli qilish uchun harakat qilamiz.</p>
                    </div>

                    <div class="checked-box">
                        <h3>Ma'naviy yo'l-yo'riq</h3>
                        <p>Bizning jamoamiz sayohatingiz davomida ma'naviy yo'l-yo'riq ko'rsatish, Umra marosimlarini fidoyilik va tushunish bilan bajarishingizga yordam berishga harakat qiladi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> <!-- .main-content -->


{% endblock content %}