{% extends "base.html" %}
{% load static %}

{% block title %}
Rayhon - Bog'lanish
{% endblock title %}

{% block content %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
    <header class="site-header collapsed-nav" data-bg-image="">
        <div class="container">
            <div class="header-bar">
                <a href="{% url 'posts:home_page' %}" class="branding">
                    <img src="{% static 'img/logo_circle.png' %}" class='logo' id='logo_image' alt="Home">
                    {% comment %} <img src="{% static 'images/logo.png' %}" alt="" class="logo"> {% endcomment %}
                    <div class="logo-type">
                        <h1 class="site-title">Rayhon Tour</h1>
                        <small class="site-description">Travel Agency</small>
                    </div>
                </a>
    
                <nav class="main-navigation">
                    <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="{% url 'posts:about' %}">Biz haqimizda</a></li>
                        <li class="menu-item"><a href="{% url 'posts:contact' %}">Bog'lanish</a></li>
                        <li class="menu-item"><a href="{% url 'posts:post_list' %}">Yangiliklar</a></li>
                    </ul>
                </nav>
    
                <div class="mobile-navigation"></div>
            </div>
        </div>
    </header>
    
    <div class="container hidden_ture">
        <h2 class="page-title">Bog'lanish</h2>
    </div>
</div>
<main class="main-content">
    
    <div class="fullwidth-block">
        <div class="container">
             <div class="row">
                 <div class="col-md-4">
                     <div class="boxed-content">
                         <h2 class="section-title">Manzil</h2>
                         <address>
                             <p>Rayhon Tour Travel INC.</p>
                            <p>Namangan Shahar G'isht ko'prik, Uychi ko'cha 3.</p>
                        </address>
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="boxed-content">
                         <h2 class="section-title">Telefon</h2>
                         <p><strong>Asosiy:</strong> +99833 580 55 55</p>
                        <p><strong>Yordamchi:</strong> +99850 050 51 00</p>
                     </div>
                 </div>
                 <div class="col-md-4">
                     <div class="boxed-content">
                         <h2 class="section-title">Email</h2>
                         <p><strong>Asosiy:</strong> <a href="mailto:rayhontour.agency@gmail.com">rayhontour.agency@gmail.com</a></p>
                     </div>
                 </div>
             </div>

             <div class="row contact-form">
                 <form action="." method='post'>
                    {% csrf_token %}
                     <div class="col-md-4">
                         <p><input type="text" placeholder="Ism va Familiya" name="full_name"></p>
                         <p><input type="text" placeholder="Telefon" name="phone"></p>
                     </div>
                     <div class="col-md-8">
                         <p>
                            <textarea name="message" placeholder="Xabar qoldiring ..."></textarea>
                         </p>
                         <p class="text-right">
                             <input type="submit" value="Yuborish">
                         </p>
                     </div>
                 </form>
             </div>
        </div>
    </div>

</main>
{% endblock content %}