{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Rayhon - Bosh Sahifa" %}
{% endblock title %}

{% block content %}

<header class="site-header collapsed-nav" data-bg-image="">
    <div class="container">
        <div class="header-bar">
            <a href="{% url 'posts:home_page' %}" class="branding">
                <img src="{% static 'img/logo_circle.png' %}" class='logo' id='logo_image' alt="Home">
                {% comment %} <img src="{% static 'images/logo.png' %}" alt="" class="logo"> {% endcomment %}
                <div class="logo-type">
                    <h1 class="site-title">Rayhon Tour</h1>
                    <small class="site-description">{% translate "Travel Agency" %}</small>
                </div>
            </a>

            <nav class="main-navigation">
                <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item"><a href="{% url 'posts:about' %}">{% translate "Biz haqimizda" %}</a></li>
                    <li class="menu-item"><a href="{% url 'posts:contact' %}">{% translate "Bog'lanish" %}</a></li>
                    <li class="menu-item"><a href="{% url 'posts:post_list' %}">{% translate "Yangiliklar" %}</a></li>
                </ul>
            </nav>

            <div class="mobile-navigation"></div>
        </div>
    </div>
</header>

<div class="hero">
    <ul class="slides">
        {% comment %} <li data-bg-image="{% static 'img/umra3.jpg' %}"> {% endcomment %}
        <li data-bg-image="{% static 'https://c4.wallpaperflare.com/wallpaper/975/804/910/bali-island-ocean-bungalows-wallpaper-preview.jpg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">{% translate "Horijiy va Mahalliy sayohatlar biz bilan qulay" %}</h2>
                    <p>{% translate "Safarda sizga huzur, xizmatingizda Rayhontour !" %}</p>
                </div>
            </div>
        </li>
        <li data-bg-image="{% static 'https://i.pinimg.com/originals/0d/01/6c/0d016c1d4607b0c5cbe88174b037be86.jpg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">{% translate "Horijiy va Mahalliy sayohatlar biz bilan qulay" %}</h2>
                    <p>{% translate "Safarda sizga huzur, xizmatingizda Rayhontour !" %}</p>
                </div>
            </div>
        </li>
        <li data-bg-image="{% static 'https://c0.wallpaperflare.com/preview/871/565/94/uzbekistan-samarkand.jpg' %}">
            <div class="container">
                <div class="slide-content">
                    <h2 class="slide-title">{% translate "Horijiy va Mahalliy sayohatlar biz bilan qulay" %}</h2>
                    <p>{% translate "Safarda sizga huzur, xizmatingizda Rayhontour !" %}</p>
                </div>
            </div>
        </li>
    </ul>
</div>

<main class="main-content">
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                {% for travel in travels %}
                <div class="col-md-3 col-sm-6">
                    <div class="feature">
                        <img src="{{ travel.image.url }}" alt="" class="feature-image travel_icon">
                        <h2 class="feature-title">{% translate travel.title %}</h2>
                        <h3>{{travel.get_departure_info}}</h3>
                        <p>{% translate "Narxi :" %} {{ travel.price }}$</p>
                        <a href="{% url 'account:register' travel.id %}" class="button">{% translate "Buyurtma berish" %}</a>
                    </div>
                </div>
                {% endfor %}

            </div> <!-- .row -->
        </div> <!-- .container -->
    </div> <!-- .fullwidth-block -->

    
    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="section-title">{% translate "Bizning missiyamiz" %}</h2>
                    <p>{% translate "Rayhon Travel bizning vazifamiz qadimiy va zamonaviy shaharlarga sayyohlarni borishlarini oson va qulay qilish. Biz sayohatning insonlar hayotidagi chuqur ahamiyatini tushunamiz va sayohatingizning har bir jihati juda ehtiyotkorlik bilan rejalashtirilishi va amalga oshirilishini ta'minlashga intilamiz." %}</p>
                    <p>{% translate "Tajribali mutaxassislarimizdan iborat jamoamiz sayohatning nozik tomonlarini chuqur tushunadi. Biz sizga sayohatingizning har bir bosqichida yo'lboshchilar ko'rsatmalari va yordamini taqdim etamiz." %}</p>
                </div>
                <div class="col-md-4">
                    <h2 class="section-title">{% translate "Nima uchun RayhonTour ?" %}</h2>
                    <ul class="arrow-list has-border">
                        <li>{% translate "Tajribali mutaxassislardan iborat jamoa" %}</li>
                        <li>{% translate "Mijozlarga yo'naltirilgan yondashuv" %}</li>
                        <li>{% translate "Moslashtirilgan paketlar" %}</li>
                        <li>{% translate "Sifatli turar joy" %}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="fullwidth-block" data-bg-image="{% static 'images/cta-bg.jpg' %}">
        <div class="container">
            <ul class="box_of_liis">
                <li><p>{% translate "“Sayohat sizni turli madaniyatlar, odamlar va turmush tarzi bilan tanishtiradi, dunyoqarashingiz va tushunchangizni kengaytiradi.”" %}</p></li>
                <li><p>{% translate "“Sayohat odatdagidan qochish va dam olish imkoniyatini beradi, stressni kamaytiradi va ruhiy farovonlikni yaxshilaydi.”" %}</p></li>
                <li><p>{% translate "“Sayohat sizga yangi madaniyatlarga sho'ng'ish, bag'rikenglik, hamdardlik va turli an'ana va urf-odatlarni chuqurroq tushunish imkonini beradi.”" %}</p></li>
            </ul>
  
        </div>
    </div>

</main> <!-- .main-content -->


{% endblock content %}