{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Kabinet" %}
{% endblock title %}

{% block container %}
<div class="container">
    <div class="row">
        <a href="{% url 'posts:about' %}"><button>{% translate "Boshqaruv paneli" %}</button></a>
        <a href="{% url 'posts:about' %}"><button>{% translate "Til malumotlar" %}</button></a>
        <a href="{% url 'posts:about' %}"><button>{% translate "Asosiy sahifaga qaytish" %}</button></a>

    </div>
</div>
{% endblock container %}



