{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Tizimga kirish" %}
{% endblock title %}

{% block content %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
    <header class="site-header collapsed-nav" data-bg-image="">
        <div class="container">
            <div class="header-bar">
                <a href="{% url 'posts:home_page' %}" class="branding">
                    <img src="{% static 'img/logo_circle.png' %}" class='logo' id='logo_image' alt="Home">
                    <div class="logo-type">
                        <h1 class="site-title">Rayhon Tour</h1>
                        <small class="site-description">{% translate "Travel Agency" %}</small>
                    </div>
                </a>
    
                <nav class="main-navigation">
                    <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="{% url 'posts:about' %}">{% translate "Biz haqimizda" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:contact' %}">{% translate "Bog'lanish" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:post_list' %}">{% translate "Yangiliklar" %}</a></li>
                    </ul>
                </nav>
    
                <div class="mobile-navigation"></div>
            </div>
        </div>
    </header>
    
    <div class="container hidden_ture">
        <h2 class="page-title">{% translate "Bog'lanish" %}</h2>
    </div>
</div>
{% comment %}  {% endcomment %}
<div class="container p-3">
    <div class="row pt-5">
        <form action="." class="form-group p-5 row" method="post">
            {% csrf_token %}
            {{form.as_p}}
            {% comment %} <input type="text" class="form-control mb-3" name='username', placeholder="Username">
            <input type="password" class="form-control mb-3" name="password" id="" placeholder="Parol">
                {% endcomment %}
            <input type="submit" value="{% translate 'Tizimga kirish' %}" class='btn btn-primary  py-2 px-5'>
        
        </form>
    </div>
</div>

{% endblock content %}



