{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% if success == True %}
{% translate "Muvaffaqiyatli" %}
{% else %}
{% translate "Xatolik..." %}
{% endif %}
{% endblock title %}


{% block content %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
    <header class="site-header collapsed-nav" data-bg-image="">
        <div class="container">
            <div class="header-bar">
                <a href="{% url 'posts:home_page' %}" class="branding">
                    <img src="{% static 'img/logo_circle.png' %}" class='logo' id='logo_image' alt="Home">
                    {% comment %} <img src="{% static 'images/logo.png' %}" alt="" class="logo"> {% endcomment %}
                    <div class="logo-type">
                        <h1 class="site-title">Rayhon Tour</h1>
                        <small class="site-description">{% translate "Travel Agency" %}</small>
                    </div>
                </a>
    
                <nav class="main-navigation">
                    <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="{% url 'posts:about' %}">{% translate "Biz haqimizda" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:contact' %}">{% translate "Bog'lanish" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:post_list' %}">{% translate "Yangiliklar" %}</a></li>
                    </ul>
                </nav>
    
                <div class="mobile-navigation"></div>
            </div>
        </div>
    </header>
    
    <div class="container hidden_ture">
        <h2 class="page-title">{% translate "Bildirishnoma" %}</h2>
    </div>
</div>


<div class="container">
    <div class="row custom_error_row">
        {% if status == 400 %}
        <h1>{% translate "Xatolik" %} : {{status}}</h1>
        {% endif %}
        <h2>{{message}}</h2>
    </div>
</div>

{% endblock content %}

