{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Rayhon - Yangiliklar" %}
{% endblock title %}

{% block content %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
    <header class="site-header collapsed-nav" data-bg-image="">
        <div class="container">
            <div class="header-bar">
                <a href="{% url 'posts:home_page' %}" class="branding">
                    <img src="{% static 'img/logo_circle.png' %}" class='logo' id='logo_image' alt="Home">
                    <div class="logo-type">
                        <h1 class="site-title">Rayhon Tour</h1>
                        <small class="site-description">{% translate "Travel Agency" %}</small>
                    </div>
                </a>
    
                <nav class="main-navigation">
                    <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="{% url 'posts:about' %}">{% translate "Biz haqimizda" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:contact' %}">{% translate "Bog'lanish" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:post_list' %}">{% translate "Yangiliklar" %}</a></li>
                    </ul>
                </nav>
    
                <div class="mobile-navigation"></div>
            </div>
        </div>
    </header>
    
    <div class="container hidden_ture">
        <h2 class="page-title">{% translate "Biz" %}</h2>
    </div>
</div>
{% comment %} Navbar tugadi !!! {% endcomment %}

<div class="fullwidth-block" data-bg-color="#edf2f4">
    <div class="container">
        <h2 class="section-title">{% translate "Yangiliklar" %}</h2>
        <div class="row">
            {% for post in news %}
                <div class="col-md-4">
                    <div class="post">
                        <figure class="featured-image"><img src="{{ post.image.url }}" alt=""></figure>
                        <h2 class="entry-title"><a href="{% url 'posts:post_details' post.id %}">{% translate post.title %}</a></h2>
                        <small class="date">{{post.created_at}}</small>
                        <p>{% translate post.body %} | truncatechars:50</p>
                    </div>
                </div>
            {% endfor %}
            
        </div> <!-- .row -->
    </div> <!-- .container -->
</div> <!-- .fullwidth-block -->



{% endblock content %}
