{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
{% translate "Rayhon" %} - {{post.title | truncatechars:15}} 
{% endblock title %}

{% block content %}
<div class="page-head" data-bg-image="{% static 'images/page-head-1.jpg' %}">
    <header class="site-header collapsed-nav" data-bg-image="">
        <div class="container">
            <div class="header-bar">
                <a href="{% url 'posts:home_page' %}" class="branding">
                    <img src="{% static 'img/logo_circle.png' %}" class='logo' id='logo_image' alt="Home">
                    <div class="logo-type">
                        <h1 class="site-title">Rayhon Tour</h1>
                        <small class="site-description">{% translate "Travel Agency" %}</small>
                    </div>
                </a>
    
                <nav class="main-navigation">
                    <button class="menu-toggle"><i class="fa fa-bars"></i></button>
                    <ul class="menu">
                        <li class="menu-item"><a href="{% url 'posts:about' %}">{% translate "Biz haqimizda" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:contact' %}">{% translate "Bog'lanish" %}</a></li>
                        <li class="menu-item"><a href="{% url 'posts:post_list' %}">{% translate "Yangiliklar" %}</a></li>
                    </ul>
                </nav>
    
                <div class="mobile-navigation"></div>
            </div>
        </div>
    </header>
    
    <div class="container hidden_ture">
        <h2 class="page-title">Biz</h2>
    </div>
</div>
{% comment %} Navbar tugadi !!! {% endcomment %}

<div class="container post_details_page">
    <div class="row p-5">
        <h1>{% translate post.title %}</h1>
        <img src="{{ post.image.url }}" alt="" class="post_image">
        <p>{% translate post.body %}</p>
        <img src="{{ post.image2.url }}" alt="" class="post_image">
        <p>{% translate post.body2 %}</p>
        <br>
        <small>{% translate "Ko'rishlar" %} : {{post.views}}</small>
        <hr>
    </div>
</div>

{% endblock content %}